body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.content a{
	color: white;
    font-size: 24px;
    text-decoration: none;
}

.content {
	position: sticky;
	display: flex;
	justify-content: space-between;
	background-color: #007765;
	height: 84px;	
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;	
	width: 1100px;	
}

.menu {
	display:flex;
	
	align-items: center;
}
/*---------------------------------*/
.image {
	background-image: url("image.png");
	color: white;
	font-size: 72px;
	background-size: cover;
	padding: 160px 0px;
	text-align: center;
}
/*--------------------------------*/
.problem {
	display: flex;
	justify-content: center;
	background: #EEEEEE;
	padding-top: 48px;
	padding-bottom: 92px;
}

 h1 {
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #007765;
	margin-bottom: 0px;
    margin-top: 0px;
}

p {
	font-weight: normal;
	font-size: 32px;
}
/*------------------------------*/
.hero {
	display: flex;
	justify-content: center;
  	padding: 128px 0;
  	background-image: url(image-1.png);
 	background-size: cover;
}

.hero__message {  
  font-style: italic;
  font-size: 48px;
  text-align: center;
  color: #fff;
}
/*-------------------------------*/
.Introducing {
	padding-top: 48px;
	display: flex;
	justify-content: center;
}

.p1 {
	display: flex;
	align-items: center;
	justify-content: flex-end;	
}
/*-----------------------------*/
.team {
	background: #EEEEEE;
	padding-top: 58px;
	padding-bottom: 25px;
}
.The_Team {
	background: #EEEEEE;
	display: flex;
	justify-content: center;
	padding-bottom: 112px;	
}

.members {
  display: flex;
  justify-content: space-between;	
  width: 1100px;
  flex-wrap: wrap;
}

.member {
  flex-basis:33%;
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.member-name {
  margin: 0;
  margin-top: 12px;
  font-weight: 600;
  font-size: 24px;
  color: #007765;
}

.member-role {
  font-style: italic;
  font-size: 18px;
}
/*----------------*/
.footer{
	background: #333333;
	display: flex;
	justify-content: center;
}

.footer span{
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	padding: 50px 310px 62px 310px;
}